<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Example app</title>
    <meta name="description" content="" />
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="assets/css/gradients.css" rel="stylesheet">
</head>

<body class="">
    <div class="wrapper">

        <div class="message">
            <div class="text">
                {{if .To}}<p>Dear {{.To}},</p>{{end}}
                <p>{{.Memo}}</p>
                {{if .From}}<p>Sincerly {{.From}}</p>{{end}}
            </div>
        </div>
    </div>

</body>

</html>
